.post-container {
    background-color: rgba(245, 245, 127, 0.706)
}

.text-container {
    text-align: center;
}

.btn-post {
    margin-left:5px;
}

.id {
    background-color: rgba(88, 88, 242, 0.469);
}